/* line 1, ../sass/memberList.scss */
.FC_informations {
  background: url("../../images/backgroundMog.jpg");
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 200px 0;
}
/* line 7, ../sass/memberList.scss */
.FC_informations .FC_informations_ressources {
  display: flex;
  justify-content: space-around;
  width: 350px;
  margin: 0 auto;
}
/* line 12, ../sass/memberList.scss */
.FC_informations .FC_informations_ressources ul {
  text-align: left;
  vertical-align: middle;
  color: #ffffff;
}
/* line 16, ../sass/memberList.scss */
.FC_informations .FC_informations_ressources ul li {
  line-height: 30px;
}

/* line 23, ../sass/memberList.scss */
.FC_members {
  background: #323232;
  padding: 50px 0;
}
/* line 26, ../sass/memberList.scss */
.FC_members h2 {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 50px;
}
/* line 32, ../sass/memberList.scss */
.FC_members .FC_members_all {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 36, ../sass/memberList.scss */
.FC_members .FC_members_all .FC_one_member {
  padding: 0 30px;
  opacity: 0.5;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
/* line 38, ../sass/memberList.scss */
.FC_members .FC_members_all .FC_one_member:not(:last-child) {
  display: block;
  margin-bottom: 30px;
}
/* line 48, ../sass/memberList.scss */
.FC_members .FC_members_all .FC_one_member:hover {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  opacity: 1;
}
/* line 57, ../sass/memberList.scss */
.FC_members .FC_members_all .FC_one_member .FC_one_member_link {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin: 0 auto;
  text-decoration: none;
  color: #ffffff;
}
/* line 65, ../sass/memberList.scss */
.FC_members .FC_members_all .FC_one_member .FC_one_member_link .FC_members_avatar, .FC_members .FC_members_all .FC_one_member .FC_one_member_link .FC_members_info {
  width: 100%;
}
/* line 69, ../sass/memberList.scss */
.FC_members .FC_members_all .FC_one_member .FC_one_member_link .FC_members_info p {
  line-height: 30px;
}
/* line 75, ../sass/memberList.scss */
.FC_members .FC_members_all .FC_one_member .FC_members_avatar img {
  border: 3px #ffffff solid;
  border-radius: 50%;
  margin-bottom: 10px;
}
