/* line 1, ../sass/styles.scss */
body {
  background: #404040;
  color: #ffffff;
}

/* line 6, ../sass/styles.scss */
li {
  list-style: none;
}

/*A TRIER*/
/* line 33, ../sass/styles.scss */
.content {
  width: 1200px;
  display: block;
  margin: 0 auto;
}
/* line 38, ../sass/styles.scss */
.content h1 {
  margin-bottom: 30px;
}
/* line 41, ../sass/styles.scss */
.content .avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 120px;
  height: 120px;
  border: #ffffff 3px solid;
}
/* line 45, ../sass/styles.scss */
.content .avatar img {
  width: 100%;
  height: auto;
}
/* line 50, ../sass/styles.scss */
.content .character {
  text-align: center;
  margin-top: 50px;
}
/* line 54, ../sass/styles.scss */
.content .character .character_portrait img {
  width: 30%;
}
/* line 59, ../sass/styles.scss */
.content .character .character_portrait img {
  border-radius: 15px;
  border: #ffffff 3px solid;
}
/* line 65, ../sass/styles.scss */
.content .character .character_stuff h2 {
  margin-bottom: 30px;
}
/* line 71, ../sass/styles.scss */
.content .jobs {
  margin-top: 50px;
}
/* line 73, ../sass/styles.scss */
.content .jobs .jobs_info {
  display: inline-block;
}
/* line 78, ../sass/styles.scss */
.content .company {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
/* line 84, ../sass/styles.scss */
.content .company .grandCompany, .content .company .freeCompany {
  margin: 0 40px;
}
/* line 87, ../sass/styles.scss */
.content .company .grandCompany ul {
  padding: 0;
}
/* line 91, ../sass/styles.scss */
.content .company .freeCompany img {
  display: block;
  margin: 0 auto;
  width: 50%;
}
/* line 97, ../sass/styles.scss */
.content .gear {
  cursor: pointer;
  margin-bottom: 50px;
}
/* line 100, ../sass/styles.scss */
.content .gear .gear_hover .thumbnail {
  display: none;
  width: 25%;
  background: #ffffff;
  position: absolute;
}
/* line 106, ../sass/styles.scss */
.content .gear .gear_hover .thumbnail .thumbnail {
  margin: 10px;
  flex: 300px 0 1;
}
/* line 113, ../sass/styles.scss */
.content .minion {
  margin-top: 50px;
}
/* line 115, ../sass/styles.scss */
.content .minion .minion_item {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
/* line 120, ../sass/styles.scss */
.content .minion .minion_item li {
  margin: 10px;
  flex: 200px 0 1;
}
/* line 127, ../sass/styles.scss */
.content .mounts {
  margin-top: 50px;
}
/* line 129, ../sass/styles.scss */
.content .mounts .mounts_item {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
/* line 134, ../sass/styles.scss */
.content .mounts .mounts_item li {
  margin: 10px;
  flex: 200px 0 1;
}
/* line 142, ../sass/styles.scss */
.content .FC_logo img {
  display: block;
  margin: 0 auto;
}
/* line 146, ../sass/styles.scss */
.content .FC {
  position: relative;
}
/* line 148, ../sass/styles.scss */
.content .FC > p {
  margin-bottom: 50px;
}
/* line 151, ../sass/styles.scss */
.content .FC > i {
  display: block;
  margin-bottom: 50px;
}
/* line 157, ../sass/styles.scss */
.content .FC .FC_members .FC_one_member {
  margin-bottom: 50px;
}
/* line 159, ../sass/styles.scss */
.content .FC .FC_members .FC_one_member .FC_members_avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 120px;
  height: 120px;
  border: #ffffff 3px solid;
  display: inline-block;
  vertical-align: middle;
}
/* line 163, ../sass/styles.scss */
.content .FC .FC_members .FC_one_member .FC_members_avatar img {
  width: 100%;
  height: auto;
}
/* line 168, ../sass/styles.scss */
.content .FC .FC_members .FC_one_member .FC_members_info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

@media screen and (max-width: 1200px) {
  /* line 180, ../sass/styles.scss */
  .content {
    width: 100%;
  }
}
