.FC_informations{
  background: url('../../images/backgroundMog.jpg');
  background-size: cover;
  background-position : center center;
  text-align: center;
  padding:200px 0;
  .FC_informations_ressources{
    display: flex;
    justify-content: space-around;
    width: 350px;
    margin: 0 auto;
    ul{
      text-align: left;
      vertical-align: middle;
      color: #ffffff;
      li{
        line-height: 30px;
      }
    }
  }
}

.FC_members{
  background: #323232;
  padding: 50px 0;
  h2{
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px;
  }
  .FC_members_all{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    .FC_one_member{
      padding: 0 30px;
      &:not(:last-child){
        display: block;
        margin-bottom: 30px;
      }
      opacity: 0.5;
      -webkit-transition: 0.25s;
      -moz-transition: 0.25s;
      -ms-transition: 0.25s;
      -o-transition: 0.25s;
      transition: 0.25s;
      &:hover{
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -ms-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;

        opacity: 1;
      }
      .FC_one_member_link{
        text-align: center;
        display: flex;
        justify-content: space-between;
        width: 320px;
        margin: 0 auto;
        text-decoration: none;
        color: #ffffff;
        .FC_members_avatar, .FC_members_info{
          width: 100%;
        }
        .FC_members_info{
          p{
            line-height: 30px;
          }
        }
      }
      .FC_members_avatar{
        img{
          border: 3px #ffffff solid;
          border-radius: 50%;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@import '../responsive/memberList-reponsive';