/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.menu {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  padding: 20px 0; }
  .menu ul {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around; }
    .menu ul li a {
      color: #ffffff;
      text-decoration: none;
      transition: 0.25s; }
      .menu ul li a:hover {
        transition: 0.25s;
        color: rgba(255, 255, 255, 0.9); }

@media screen and (max-width: 900px) {
  .menu ul {
    width: 100%; } }
@media screen and (max-width: 670px) {
  .menu ul {
    width: 100%; }
    .menu ul li a {
      font-size: 16px; } }
footer {
  background: #000000;
  padding: 20px 0;
  color: #ffffff; }
  footer .footer_element {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    footer .footer_element a {
      text-decoration: none;
      color: #ffffff; }

@media screen and (max-width: 900px) {
  footer .footer_element {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box; } }
.presentation {
  background: url("../../images/backgroundPresentation.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 400px 0; }
  .presentation p {
    margin-top: 25px;
    color: #ffffff;
    font-size: 25px; }
  .presentation i {
    color: #ffffff;
    font-style: italic;
    display: block;
    margin-top: 20px; }

.description, .info {
  background: #323232;
  padding: 100px 0; }
  .description p, .info p {
    width: 510px;
    color: #ffffff;
    font-weight: 300;
    margin: 0 auto;
    line-height: 25px;
    margin-bottom: 20px; }

.executive {
  background: #000000;
  color: #ffffff;
  padding: 50px 0; }
  .executive h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px; }
  .executive ul {
    width: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; }
    .executive ul li a {
      text-decoration: none;
      text-align: center;
      color: #ffffff;
      opacity: 0.8;
      transition: 0.25s; }
      .executive ul li a:hover {
        transition: 0.25s;
        opacity: 1; }
      .executive ul li a > img {
        border: 3px #ffffff solid;
        border-radius: 50%;
        margin-bottom: 10px; }
      .executive ul li a p {
        margin-bottom: 10px; }

@media screen and (max-width: 990px) {
  .presentation i {
    padding: 0 20px;
    line-height: 30px; } }
@media screen and (max-width: 670px) {
  .description p, .info p {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center; }

  .executive ul {
    width: 100%;
    display: block; }
    .executive ul li {
      text-align: center; }
      .executive ul li:not(:last-child) {
        margin-bottom: 50px; } }
.FC_informations {
  background: url("../../images/backgroundMog.jpg");
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 200px 0; }
  .FC_informations .FC_informations_ressources {
    display: flex;
    justify-content: space-around;
    width: 350px;
    margin: 0 auto; }
    .FC_informations .FC_informations_ressources ul {
      text-align: left;
      vertical-align: middle;
      color: #ffffff; }
      .FC_informations .FC_informations_ressources ul li {
        line-height: 30px; }

.FC_members {
  background: #323232;
  padding: 50px 0; }
  .FC_members h2 {
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px; }
  .FC_members .FC_members_all {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto; }
    .FC_members .FC_members_all .FC_one_member {
      padding: 0 30px;
      opacity: 0.5;
      -webkit-transition: 0.25s;
      -moz-transition: 0.25s;
      -ms-transition: 0.25s;
      -o-transition: 0.25s;
      transition: 0.25s; }
      .FC_members .FC_members_all .FC_one_member:not(:last-child) {
        display: block;
        margin-bottom: 30px; }
      .FC_members .FC_members_all .FC_one_member:hover {
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -ms-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;
        opacity: 1; }
      .FC_members .FC_members_all .FC_one_member .FC_one_member_link {
        text-align: center;
        display: flex;
        justify-content: space-between;
        width: 320px;
        margin: 0 auto;
        text-decoration: none;
        color: #ffffff; }
        .FC_members .FC_members_all .FC_one_member .FC_one_member_link .FC_members_avatar, .FC_members .FC_members_all .FC_one_member .FC_one_member_link .FC_members_info {
          width: 100%; }
        .FC_members .FC_members_all .FC_one_member .FC_one_member_link .FC_members_info p {
          line-height: 30px; }
      .FC_members .FC_members_all .FC_one_member .FC_members_avatar img {
        border: 3px #ffffff solid;
        border-radius: 50%;
        margin-bottom: 10px; }

@media screen and (max-width: 1200px) {
  .FC_members_all {
    width: 100% !important;
    padding: 0 20px;
    box-sizing: border-box; } }
body {
  font-family: 'Roboto', sans-serif; }

h1, h2 {
  font-family: 'Cabin', sans-serif;
  font-weight: 700; }

/*# sourceMappingURL=styles.css.map */
