body{
	background: #404040;
	color: #ffffff;
}

li{
	list-style: none;
}

@mixin avatarStyle(){
	border-radius: 50%;
	overflow: hidden;
	width: 120px;
	height: 120px;
	border: #ffffff 3px solid;
}

.content{
	width: 1200px;
	display: block;
	margin: 0 auto;

	h1{
		margin-bottom: 30px;
	}
	.avatar{
		
		@include avatarStyle();

		img{
			width:100%;
			height: auto;
		}
	}
	.character{
		text-align: center;
		margin-top: 50px;
		.character_portrait{
			img{
				width: 30%;
			}
		}

		.character_portrait img{
			border-radius: 15px;
			border: #ffffff 3px solid;
		}

		.character_stuff{
			h2{
				margin-bottom: 30px;
			}
		}
	}

	.jobs{
		margin-top: 50px;
		.jobs_info{
			display: inline-block;
		}
	}

	.company{
		margin: 0 auto;
		display: flex;
		justify-content: space-around;


		.grandCompany, .freeCompany{
			margin: 0 40px;
		}
		.grandCompany ul{
			padding: 0;
		}
		.freeCompany{
			&>ul{
				li{
					position: absolute;
    				img{
    					display: block;
    					margin-left: auto;
    					margin-right: auto;
    					width:50%;
    				}
				}
			}
		}
	}
	.gear{
		cursor: pointer;
		margin-bottom: 50px; 
		.gear_hover .thumbnail {
			display: none;
			width: 25%;
			background: #ffffff;
			position: absolute;

			.thumbnail {
				margin: 10px;
				flex: 300px 0 1;
			}
		}
	}

	.minion{
		margin-top: 50px;	
		.minion_item{
			display: flex;
			justify-content: left;
			flex-wrap: wrap;

			li{
				margin: 10px;
				flex: 200px 0 1;
			}
		}
	}

	.mounts{
		margin-top: 50px;
		.mounts_item{
			display: flex;
			justify-content: left;
			flex-wrap: wrap;

			li{
				margin: 10px;
				flex: 200px 0 1;
			}
		}
	}

	.FC_logo{
		ul{
			li{
				position: absolute;
				left: 50%;
				margin-left: -64px;
				img{
					display: block;
					margin-left: auto;
					margin-right: auto;
					width:50%;
				}
			}
		}
	}
	.FC{
		position: relative;
		top: 84px;
		&>p{
			margin-bottom: 50px;
		}
		&>i{

			display: block;
			margin-bottom: 50px;
		}
		.FC_members{
			.FC_one_member{
				margin-bottom: 50px;
				.FC_members_avatar{
					@include avatarStyle();
					display: inline-block;
	    			vertical-align: middle;
					img{
						width:100%;
						height: auto;
					}
				}
				.FC_members_info{
					display: inline-block;
	    			vertical-align: middle;
	    			margin-left: 20px;
				}
			}
		}
	}
}


@media screen and (max-width: 1200px) {
  .content {
    width: 100%;
  }
}
