///////////////////////////////*/
/*
/*   Colors
/*
///////////////////////////////*/

/** @color Light Gray */
$light-gray: #e6e6e6;
/** @color Medium Gray */
$medium-gray: #cacaca;
/** @color Dark Gray */
$dark-gray: #8a8a8a;
/** @color Black */
$black: #0a0a0a;
/** @color White */
$white: #fefefe;
