@media screen and (max-width: 990px) {
  .presentation i{
    padding: 0 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 670px) {
  .description, .info{
    p{
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      text-align: center;
    }
  }

  .executive{
    ul{
      width: 100%;
      display:block;
      li{
        text-align: center;

        &:not(:last-child){
          margin-bottom: 50px;
        }
      }
    }
  }
}