@media screen and (max-width: 900px) {
  .menu{
    ul{
      width: 100%;
    }
  }
}

@media screen and (max-width: 670px) {
  .menu{
    ul{
      width: 100%;
      li{
        a{
          font-size: 16px;
        }
      }
    }
  }
}